@font-face {
  font-family: 'Spiegel';
  src: url('./assets/fonts/Spiegel-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Spiegel';
  src: url('./assets/fonts/Spiegel-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./assets/fonts/BeaufortforLOL-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./assets/fonts/BeaufortforLOL-Bold.woff') format('woff');
  font-weight: bold;
}